<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body class="<%= bodyClass %>">
        <%- include('../partials/header') %>
        <%- include('../partials/menu') %>
        <%- include('../partials/introduction') %>
        <%- include('../partials/godDetails') %>



    </body>
</html>